.slider{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

ul img{
  margin: 0;
}

.slider ul{
  display: flex;
  width: 300%;

  animation: cambio 20s infinite alternate;
  animation-timing-function: ease-in-out;
}

.slider li{
  width: 100%;
  margin: 0;
}


@keyframes cambio {
  0% { margin-left: 0; }
  30% { margin-left: 0; }
  
  35% { margin-left: -100%; }
  65% { margin-left: -100%; }

  70% { margin-left: -200%; }
  100% { margin-left: -200%; }
}