.cards-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wwd-title{
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue';
  font-size: 50px;
  color: white;
  background-color: #092C66;
  padding: 10px;
}

.to-who{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.to-who p{
  font-size: 20px;
  font-family: 'Helvetica';
}

.consulting-card{
  display: flex;
  flex-direction: column;
  background-color: #6298E7;
  color: white;
  width: 550px;
  height: auto;
  font-family: 'Helvetica';
  margin-top: 50px;
  margin-left: 150px;
  margin-bottom: 100px;
}

.consulting-card h5{
  font-size: 30px;
  font-weight:bold;
  text-align: center;
  padding: 30px;
}

.consulting-card p{
  margin-left: 30px;
  font-size: 18px;
  line-height: 37px;
}

.consulting-icon{
  position: absolute;
  bottom: 2rem;
  right: 6rem;
  font-size: 70px;
}

.surveys-card{
  display: flex;
  flex-direction: column;
  background-color: #70C4B2;
  color: white;
  width: 550px;
  height: auto;
  font-family: 'Helvetica';
  margin-top: 50px;
  margin-right: 150px;
  margin-bottom: 100px;
}

.surveys-card h5{
  font-size: 30px;
  font-weight:bold;
  text-align: center;
  padding: 30px;
}

.surveys-card p{
  margin-left: 30px;
  font-size: 18px;
  line-height: 37px;
}

.survey-icon{
  position: absolute;
  bottom: 2rem;
  right: 6rem;
  font-size: 70px;
}

.contact-img{
  width: 100%;
  height: 400px;
  background-color: #092C66;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact-img img{
  margin: 0;
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
  .contact-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

.contact-img p{
  position: absolute;
  font-family: 'Helvetica';
  font-weight: bold;
  color: white;
  font-size: 30px;
  padding: 0 230px;
  margin-top: 130px;
  text-shadow: 1px 1px 20px black;
}

.contact-img-btn{
  font-size: 20px !important;
  position: absolute;
  margin-top: 240px;
}

@media (max-width: 425px){

  .cards-container{
    gap: 2rem;
    justify-content: center;
  }

  .wwd-title{
    margin-top: 30px;
    font-size: 2rem;
    padding: 10px;
  }

  .to-who p{
    font-size: 1rem;
    padding: 0 10px;
    text-align: center;
  }

  .consulting-card{
    width: 20rem;
    height: 27rem;
    margin-bottom: 50px;
  }

  .consulting-card h5{
    font-size: 1rem;
  }
  
  .consulting-card p{
    margin-left: 7px;
    font-size: 0.8rem;
    line-height: 25px;
  }
  
  .consulting-icon{
    display: none;
  }

  .surveys-card{
    width: 20rem;
    height: 27rem;
    margin-bottom: 50px;
  }

  .surveys-card h5{
    font-size: 1rem;
  }

  .surveys-card p{
    margin-left: 7px;
    font-size: 0.8rem;
    line-height: 25px;
  }

  .survey-icon{
    display: none;
  }

  .contact-img{
    width: 100%;
    height: 18rem;
  }

  .contact-img p{
    font-size: 1rem;
    padding: 0 1rem;
    margin-top: 4.3rem;
    text-shadow: 1px 1px 20px black;
  }
  
  .contact-img-btn{
    font-size: 1.6rem !important;
    position: absolute;
    margin-top: 12rem;
  }
}