footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.rights{
  display: flex;
  align-items: center;
  margin-right: 90px;
  font-size: 18px;
}

@media (max-width: 425px){
  footer{
    gap: 5rem;
  }
}
