header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img{
  margin-left: 250px;
}

.navbar ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 40px;
  margin-right: 150px;
  margin-top: 35px;
}

.navbar ul li{
  font-size: 23px;
  font-family: 'Bebas Neue';
}

