
.modal-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.inputs{
  width: 400px !important;
  align-self: center;
}

.errorMsg{
  font-weight: normal;
  color: red;
}

@media (max-width: 425px){
  .contact-modal{
    max-width: 24.9rem;
  }

  .inputs{
    width: 20rem !important;
  }

  .contact-modal-cancel-btn{
    font-size: 1.8rem !important;
  }

  .contact-modal-send-btn{
    font-size: 1.8rem !important;
  }
}